/* Custom css by Emily Zhang modifying the bootstrap theme */

@font-face {
    font-family: "Raleway"
    src: url("http://fonts.googleapis.com/css?family=Raleway");
}

body {
	font-family: "Raleway", Consolas;
}

h1 {
	color: black;
}

.sidebar-nav li a {
	color: mediumturquoise;
}

.sidebar-nav li a:hover {
	color: black;
	background: darkturquoise;
}

.sidebar-nav li a[rel="active"] {
	color: black;
	background-color: white;
}

.sidebar-nav > .sidebar-brand a {
	font-size: 25px;
	background-color: black;
    color: darkturquoise;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: black;
    background-color: mediumturquoise;
}

.profile {
	opacity: 0.8;
	-ilter: saturate(0.0);
    -webkit-filter: saturate(0.0);
    -moz-filter: saturate(0.0);
    -o-filter: saturate(0.0);
    -ms-filter: saturate(0.0);
	border: solid 2px black;
}

.profile:hover {
	opacity: 1;
	-ilter: saturate(0.7);
    -webkit-filter: saturate(0.7);
    -moz-filter: saturate(0.7);
    -o-filter: saturate(0.7);
    -ms-filter: saturate(0.7);
	transition: opacity .30s ease-in-out;
	-moz-transition: opacity .30s ease-in-out;
	-webkit-transition: opacity .30s ease-in-out;
}

.profile[rel="profile1"] {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

#menu-toggle {
	font-size: 10px;
	border: none;
	background-color: white;
	border: dashed 1px black;
}

.btn btn-default:hover {
	background-color: white;
	opacity: 0.7;
	border: dashed 1px black;
}

.btn btn-default {
	background-color: none;

}