body {
	font-family: "Raleway", Consolas;
	background-color: white; /*url("http://media.crowdshare.io/UHFIZM5d9HET2QRQvDcSHFEhCVYEhd0x-1200x1200.png");*/
	background-size: cover;
}

h2 {
	font: 30px;
	color: darkturquoise;
}

.clearcontent {
	background: black;
	color: white;
	opacity: 0.97;
	padding: 100px;
	overflow: hidden;
}

#imgbox {
	background: white;
	display: inline-block;
	overflow: hidden;
	/*max-width: 701px;
	max-height: 700px;*/
}

.textblock {
	max-width: 520px;
	margin-left: auto;
	margin-right: auto;
}