@import url(http://fonts.googleapis.com/css?family=Lora);

html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Lora";
  background: black;
}

h1 {
  font-size: 250%;
  color: mediumturquoise;
  font-family: "Lora", 100px, sans-serif;
}

p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 75px;
  background-color: black;
}

.fixed-nav-bar li {
  display: inline;
}

.fixed-nav-bar li a{
  font-size: 15px;
  font-family: "Lora";
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
  z0index: 5;
}

img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 2px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

/*
img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}*/

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  font-family: "Lora", 100px, sans-serif;
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
  background-image: url("http://orig08.deviantart.net/0855/f/2015/154/e/3/into_the_darkness_by_starfishyx-d8vxx9g.png");
   background-attachment: fixed;  
}

#slide1:before {
  background-image: url("http://orig03.deviantart.net/6c62/f/2015/096/8/d/coming_home_by_starfishyx-d8opf7q.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide2 {
  background-image: url("http://media.crowdshare.io/IlRX5BiQEeaDN0AG1Zm0Mi09MnUYv2za-1200x1200.jpg");
  background-attachment: fixed;
}

#slide3:before {
  background-image: url("http://media.crowdshare.io/cfZuzXlpGbtBgTYOsyia5uztY4THsAnb-1200x1200.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide4 {
  background: black;
}
