@import url(http://fonts.googleapis.com/css?family=Dosis:500);

.fixed-nav-bar {
  position: static;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 75px;
  background-color: white;
  background-color: rgba(256, 256, 256, 0.5);
  font-family: "Dosis", Consolas, Arial, sans-serif;
  border: 1px solid mediumturquoise;
  -webkit-box-shadow: 0 0 8px 0 #000000;
  -moz-box-shadow: 0 0 8px 0 #000000;
  box-shadow: 0 0 8px 0 #000000;
}

.fixed-nav-bar .nav-links {
  padding: .5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fixed-nav-bar li a:hover {
  color: black;
}

.fixed-nav-bar li {
  display: inline-block;
  font-size: 150%;
  padding-right: 5%;
  padding-left: 5%;
}

.test {
  top: 500px;
  height: 100%;
  position: relative;
  border: red solid 1px;
  opacity: 0.3;
  -webkit-transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -ms-transition: all .33s ease-in-out;
  -o-transition: all .33s ease-in-out;
  transition: all .33s ease-in-out;

}

.test:hover {
  opacity: 1;
  -webkit-transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -ms-transition: all .33s ease-in-out;
  -o-transition: all .33s ease-in-out;
  transition: all .33s ease-in-out;
}

.test p {
  padding-left: 50%;
  padding-right: 50%;
  border: red dashed 1px;
}

#oh {
  font: 100px bold;
  position: relative;
  opacity: .2;
  background-color: cyan;
  -webkit-transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -ms-transition: all .33s ease-in-out;
  -o-transition: all .33s ease-in-out;
  transition: all .33s ease-in-out;
}

#oh:hover {
  opacity: 1;
  background-imgae: url(../playground/wow.jpg);
  -webkit-transition: all .33s ease-in-out;
  -moz-transition: all .33s ease-in-out;
  -ms-transition: all .33s ease-in-out;
  -o-transition: all .33s ease-in-out;
  transition: all .33s ease-in-out;
}