a:hover {
	color: #6C7A89;
}

.header-tab {
	color: #1abc9c;
}

.hero-header {
	background: white;
	/*background: linear-gradient(to top, #4ECDC4, white, white);*/

}

.hero.is-primary .subtitle {
	color: #6C7A89;
}

.hero-content {
	background: #4ECDC4;
}

.header-toggle {
	background: white;
}

.hero.is-primary .header-toggle span {
    background: #4ECDC4;
}

.hero.is-primary .header-toggle:hover {
	background: white;
}

.hero.is-primary .header-toggle.is-active span {
	background: rgba(0, 0, 0, 0.1);
}

.hero.is-primary .header-icon, .hero.is-primary .header-item > a:not(.button) {
	color: #1abc9c;
	background: white;
}

.hero.is-small .hero-content {
	background: white; /* for backgrounds that don't support gradients */
	background: linear-gradient(to top, #4ECDC4, #A2DED0, white, white, white, white, white, white, white, white, white, white, white, white, white, white, white, white, white, white, white, white);
	background: linear-gradient(to top, rgba(78,205,196,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1));
	/*background: linear-gradient(to top, #6C7A89, #4ECDC4, white, white, white, white, white, white, white, white, white, white, white, white, white, white, white ,white
		);
	background: linear-gradient(to top, #f5f7fa, #ECF0F1, #A2DED0, #4ECDC4, #1BA39C, #6C7A89);*/
}
/*78,205,196*/


#special {
	opacity: 0.6;
}